# --- 1. System & Environments ---
turbo_venv/
venv/
.env
__pycache__/
*.dll
*.exe
.DS_Store

# --- 2. Development & Notebooks ---
train_model.py
notebooks/
*.ipynb
Untitled-*.py
api.py

# --- 3. Data & Heavy Documentation ---
# Prevents massive NASA files or PDFs from cluttering Git
CMAPSSData/
*.txt
*.csv
*.zip
*.pdf
*.png
training_log.csv

# --- 4. Models & Binaries ---
# Ignore all model formats by default


*.keras
*.bin

# --- 5. EXCEPTIONS (KEEP THESE) ---
# These files are REQUIRED for the Streamlit app to function
!app.py
!requirements.txt
!turbofan_model.pkl
!std_scaler.bin
